/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container
{
    width: 598px;
    margin: 0 auto;
    border: 1px solid black;
    height: 200px;
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-size: 598px 150px;
    background-position: center center;
    
}

#topbar
{
    font-family: "Verdana", "Times New Roman", "sans-serif";
    font-size: 10px;
    text-align: right;
    margin: 5px;
}

#content
{
    width: 576px;
    float: left;
    padding: 10px;
    border: 1px solid black;
}

#maincontent
{
    float: left;
    width: 350px;
    padding: 5px;
}

#subcontent
{
    float: left;
    width: 200px;
    padding: 5px;
    border-left: dotted;
}

#bottomcontent
{
    font-family: "Verdana", "Times New Roman", "sans-serif";
    font-size: 10px;
    clear: both;
}

#menu
{
    float: left; 
    padding-left: 0; 
    padding-top: 140px;
    margin-left: -25px;
    list-style-type: none;
    width: 100%;
}

#menu li
{
    display: inline;
}

#menu a
{
    display: none;
    /*padding: 12px 20px 12px 20px; 
    margin: -4px;
    text-decoration: none;
    border: 1px solid black;*/
}

#menu li a
{
    display: inline;
    padding: 12px 20px 12px 20px; 
    margin: -4px;
    text-decoration: none;
    border: 1px solid black;
}
#menu a:link
{
    color: #ffffff; 
    background: #CC9999;
}

#menu a:visited
{
    color: #ffffff; 
    background: #CC9999;
}

#menu a:hover
{
    background: #996666;
}

.active 
{
    background: #FFF; 
    color: #000000;
}

body 
{
    font-family: "Verdana", "Times New Roman", "sans-serif";
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h1
{
    font-family: "Times New Roman", "Verdana", "sans-serif";
    font-size: 24px;
}